{extend name='pub/modal'}
{block name='content'}
<div class="layui-fluid lotus-form">
    <div class="layui-row">
        <form class="layui-form layui-form-pane" id="lotus-add-form" action="back" method="post">
        <input type="hidden" name="car_id" value="{$cars.carid}">
        <input type="hidden" name="method" value="{$method}">
		<input type="hidden" name="id" value="{$cars.id}">
            <div class="layui-form-item">
                <label class="layui-form-label">用车说明</label>
                <div class="layui-input-block">
                    <input type="text" name="record_reason" readonly="readonly" class="layui-input" value="{$cars.record_reason}">
                </div>
            </div>

            <div class="layui-form-item">
                    <label class="layui-form-label">用车人</label>
                    <div class="layui-input-block">
                        <input type="text" name="record_reason" readonly="readonly" class="layui-input" value="{$cars.member_name}">
                    </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用车时间</label>
                <div class="layui-input-block">
                    <input type="text" name="record_reason" readonly="readonly" class="layui-input" value="{$cars.record_time|date='Y-m-d H:i:s'}">
                </div>
            </div>
			
			<div class="layui-form-item">
			    <label class="layui-form-label">还车时间</label>
			    <div class="layui-input-block">
			        <input type="text" lay-verify="required" placeholder="yyyy-MM-dd hh:ii:ss" name="record_end_time" id="record_time" autocomplete="off"  class="layui-input">
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">还车里程数</label>
			    <div class="layui-input-block">
			        <input type="text" name="record_mileage" lay-verify="required" class="layui-input" value="0">
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">还车油电量</label>
			    <div class="layui-input-block">
			        <input type="text" name="record_oil" lay-verify="required" class="layui-input" value="0">
			    </div>
			</div>
			<!--div class="layui-form-item">
			        <label class="layui-form-label">资金类型</label>
			        <div class="layui-input-block">
			            <select lay-filter="aihao" name="record_type" lay-verify="required">
			                <option value="0">付款</option>
			                <option value="1">收款</option>
			            </select>
			        </div>
			</div>
			
			<div class="layui-form-item">
			    <label class="layui-form-label">金额</label>
			    <div class="layui-input-block">
			        <input type="text" name="record_money" lay-verify="required" class="layui-input" value="0">
			    </div>
			</div-->

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button style="margin-left: 30%" class="layui-btn" lay-submit="" lay-filter="toSubmit">提交</button>
                    <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
	layui.use('laydate', function(){
	  var laydate = layui.laydate;
	laydate.render({
	  elem: '#record_time'
	  ,trigger: 'click'
	  ,type: 'datetime'
	});
	})
</script>
{/block}




