{extend name='pub/modal'}
{block name='content'}
<div class="layui-fluid lotus-form">
    <div class="layui-row">
        <form class="layui-form layui-form-pane" id="lotus-add-form" action="use" method="post">
        <input type="hidden" name="car_id" value="{$cars.car_id}">
        <input type="hidden" name="method" value="{$method}">
            <div class="layui-form-item">
                <label class="layui-form-label">用车说明</label>
                <div class="layui-input-block">
                    <input type="text"  name="record_reason" lay-verify="required" autocomplete="off"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                    <label class="layui-form-label">用车人</label>
                    <div class="layui-input-block">
                        <select lay-filter="aihao" name="record_people" lay-search lay-verify="required">
                            <option value="">选择用车人</option>
                            {volist name='members' id='vo'}
                                <option value="{$vo.id}">{$vo.member_name}</option>
                            {/volist}
                        </select>
                    </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用车时间</label>
                <div class="layui-input-block">
                    <input type="text" lay-verify="required" placeholder="yyyy-MM-dd hh:ii:ss" name="record_time" id="record_time" autocomplete="off"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button style="margin-left: 30%" class="layui-btn" lay-submit="" lay-filter="toSubmit">提交</button>
                    <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
	layui.use('laydate', function(){
	  var laydate = layui.laydate;
	laydate.render({
	  elem: '#record_time'
	  ,trigger: 'click'
	  ,type: 'datetime'
	});
	})
</script>
{/block}




